html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  font-size: 12px;
  font-weight: 400;
}

._page {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}